build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
.*.swo
m5out
/src/doxygen
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
/util/packet_pb2.py
/util/tap/*.d
/util/tap/*.o
/util/tap/m5tap
/util/term/m5term
/system/arm/dt/*.dtb
/system/arm/simple_bootloader/*.o
/system/arm/simple_bootloader/boot.arm
/system/arm/simple_bootloader/boot_emm.arm
/system/arm/aarch64_bootloader/boot_emm.arm64
/build/ARM/arch/arm/generated
/build/ARM/arch/arm/lib.o.partial
/build/ARM/learning_gem5/part2/lib.o.partial
/build/X86/arch/x86/generated
/build/X86/arch/x86/lib.o.partial
/build/X86/learning_gem5/part2/lib.o.partial
/build/X86/arch/x86/generated/*
